h1{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-262%);
    background: black;
    color: white;
}
img{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-9%);
    background: black;
    color: white;
}